# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
/web/.pnp.js
/web/.yarn/install-state.gz

# testing
/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build

# misc
.DS_Store
*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# local env files
/web/.env*.local

# vercel
/web/.vercel

# typescript
/web/*.tsbuildinfo
/web/next-env.d.ts

/backend/__pycache__